<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Entrar</h3>
      </div>
      <div class="panel-body">
        <form accept-charset="UTF-8" role="form" [formGroup]="formLogin" (ngSubmit)="login(formLogin.value)">
          <fieldset>
            <div class="form-group">
              <input class="form-control" placeholder="usuário" name="email" type="text" formControlName="userName">
            </div>
            <div class="form-group">
              <input class="form-control" placeholder="senha" name="password" type="password" value="" formControlName="password">
            </div>
            <input class="btn btn-lg btn-primary btn-block" type="submit" value="Login">
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>